In [43]:
import itertools
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.ticker import NullFormatter
import pandas as pd
import numpy as np
import matplotlib.ticker as ticker
from sklearn import preprocessing
%matplotlib inline

In [44]:
df = pd.read_csv('training_2.csv')
df.head()

,NPI,PROVIDERNAME,ENTITY_TYPE_CODE,P_O_N_LEGAL_BUSINESS_NAME,P_F_L_B_M_ADDRESS,PROV_B_M_A_CITY_NAME,PROV_B_M_A_STATE_NAME,PROV_B_M_A_POSTAL_CODE,PROV_B_M_A_CNT_CODE_OUT_US,PROV_B_M_A_TELEPHONE_NUMBER,...,AUTH_OFF_FRST_NAME,AUTH_OFF_MIDDLE_NAME,AUTH_OFF_TITLE_OR_POSITION,AUTH_OFF_TELEPHONE_NUMBER,H_P_T_CODE_1,PROV_LIC_NUM_1,PROV_LIC_NUM_STATE_CODE_1,H_P_P_T_SWITCH_1,PRIMARY_TAXONOMY,SPECDESC
0,1396819231,"GUSKY-SHARP, KATHLEEN NONE",1,NaN,105 VISTA VIEW DR,CLOVERDALE,CA,954253373,US,7.078947e+09,...,NaN,NaN,NaN,NaN,171W00000X,CAOT#12,CA,Y,171W00000X,Contractor
1,1194890707,"TARTLER, ADRIAN LASZLO",1,NaN,311 N QUENTIN ST,WICHITA,KS,672083714,US,3.166509e+09,...,NaN,NaN,NaN,NaN,111NI0900X,T-00986,KS,Y,111NI0900X,Internist
2,1003981614,"MONIKA RUKUS, INC.",2,"MONIKA RUKUS, INC.",8901 CONNECTICUT AVE,CHEVY CHASE,MD,208156734,US,3.019870e+09,...,MONIKA,L.,OWNER,3.019870e+09,101YM0800X,8641,MD,Y,101YM0800X,Mental Health
3,1912072521,JAFORD ENTERPRISES,2,JAFORD ENTERPRISES,PO BOX 86028,BATON ROUGE,LA,708796028,US,2.252910e+09,...,SHEVELLE,LIESA,PIC,2.252910e+09,3336C0003X,4058,LA,Y,3336C0003X,Community/Retail Pharmacy
4,1992870505,"OLANO, ANNA A",1,NaN,100 E IRVING PARK RD,ROSELLE,IL,601722048,US,6.304390e+09,...,NaN,NaN,NaN,NaN,225100000X,070-008093,IL,Y,225100000X,Physical Therapist

In [45]:
df['NPI'].value_counts()

1790850303    72
1396819231    72
1851465611    72
1265507875    72
1760556526    72
1003981614    72
1174698781    72
1326113937    72
1982779591    72
1801961412    72
1164597779    72
1194890707    72
1912072521    72
1992870505    68
1124192984    68
1851466460    68
1518031368    68
1659446276    68
1609940451    68
1487729000    68
1760557375    68
1942374707    68
1780758524    68
1144395757    68
1427122274    68
1790859544    68
1053485896    68
1144600479    68
1679648281    68
1194890715    68
1124193735    68
1982778734    68
1215002829    68
1962576702    68
1033283890    68
1437223286    68
1013082635    64
1740355361    64
1336213180    64
1295800811    64
1841365467    64
1104991728    64
1578638193    64
1922173541    64
1205901824    64
1669547287    64
1750456372    64
1932274552    64
1023183647    64
1396810917    64
Name: NPI, dtype: int64

In [46]:
for col in df.columns:
    df[col] = df[col].astype(str)

In [47]:
scl = [[0.0, 'rgb(242,240,247)'],[0.2, 'rgb(218,218,235)'],[0.4, 'rgb(188,189,220)'],\
            [0.6, 'rgb(158,154,200)'],[0.8, 'rgb(117,107,177)'],[1.0, 'rgb(84,39,143)']]

In [48]:
df.columns

Index(['NPI', 'PROVIDERNAME', 'ENTITY_TYPE_CODE', 'P_O_N_LEGAL_BUSINESS_NAME',
       'P_F_L_B_M_ADDRESS', 'PROV_B_M_A_CITY_NAME', 'PROV_B_M_A_STATE_NAME',
       'PROV_B_M_A_POSTAL_CODE', 'PROV_B_M_A_CNT_CODE_OUT_US',
       'PROV_B_M_A_TELEPHONE_NUMBER', 'PROV_F_L_B_P_LOC_ADDRESS',
       'PROV_B_P_B_P_LOC_ADD_CT_NAME', 'PROV_B_P_B_P_LOC_ADD_ST_NAME',
       'PROV_B_P_B_P_LOC_ADD_POS_CODE', 'PROV_B_P_B_P_LOC_A_CC_OUT_US',
       'PROV_B_P_B_P_LOC_ADD_TEL_NUM', 'PROVIDER_ENUMERATION_DATE',
       'LAST_UPDATE_DATE', 'AUTH_OFF_LAST_NAME', 'AUTH_OFF_FRST_NAME',
       'AUTH_OFF_MIDDLE_NAME', 'AUTH_OFF_TITLE_OR_POSITION',
       'AUTH_OFF_TELEPHONE_NUMBER', 'H_P_T_CODE_1', 'PROV_LIC_NUM_1',
       'PROV_LIC_NUM_STATE_CODE_1', 'H_P_P_T_SWITCH_1', 'PRIMARY_TAXONOMY',
       'SPECDESC'],
      dtype='object')

In [49]:
X = df[['ENTITY_TYPE_CODE','PROVIDERNAME', 'PROV_B_M_A_STATE_NAME', 'PROV_B_M_A_POSTAL_CODE', 'SPECDESC','PROV_B_P_B_P_LOC_ADD_TEL_NUM','PROV_B_M_A_CITY_NAME','PRIMARY_TAXONOMY']].values
X[0:3]

array([['1', 'GUSKY-SHARP, KATHLEEN NONE', 'CA', '954253373',
        'Contractor', '7078947409', 'CLOVERDALE', '171W00000X'],
       ['1', 'TARTLER, ADRIAN LASZLO', 'KS', '672083714', 'Internist',
        '3169460990', 'WICHITA', '111NI0900X'],
       ['2', 'MONIKA RUKUS, INC.', 'MD', '208156734', 'Mental Health',
        '3019869999', 'CHEVY CHASE', '101YM0800X']], dtype=object)

In [50]:
from sklearn import preprocessing

le_PROVIDERNAME = preprocessing.LabelEncoder()
le_PROVIDERNAME.fit(np.unique(df["PROVIDERNAME"]))
X[:,1] = le_PROVIDERNAME.transform(X[:,1]) 

le_STATE_NAME = preprocessing.LabelEncoder()
le_STATE_NAME.fit(np.unique(df["PROV_B_M_A_STATE_NAME"]))
X[:,2] = le_STATE_NAME.transform(X[:,2]) 

le_SPECDESC = preprocessing.LabelEncoder()
le_SPECDESC.fit(np.unique(df["SPECDESC"]))
X[:,4] = le_SPECDESC.transform(X[:,4]) 

le_CITY_NAME = preprocessing.LabelEncoder()
le_CITY_NAME.fit(np.unique(df["PROV_B_M_A_CITY_NAME"]))
X[:,6] = le_CITY_NAME.transform(X[:,6]) 


le_PRIMARY_TAXONOMY = preprocessing.LabelEncoder()
le_PRIMARY_TAXONOMY.fit(np.unique(df["PRIMARY_TAXONOMY"]))
X[:,7] = le_PRIMARY_TAXONOMY.transform(X[:,7])

In [51]:

X = preprocessing.StandardScaler().fit(X).transform(X.astype(float))
X[0:5]

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:590: DataConversionWarning: Data with input dtype object was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

array([[ 0.10302903, -0.00352539, -0.70329987,  1.48296908, -0.63987268,
         0.6372938 , -1.0021102 , -0.09560694],
       [ 0.10302903,  1.49300208,  0.16521153,  0.64968225,  0.0326075 ,
        -1.0434466 ,  1.69004396, -0.88040258],
       [ 1.75343746,  0.6549467 ,  0.49090331, -0.7203596 ,  0.14468753,
        -1.10775777, -1.14380253, -1.44097089],
       [ 1.75343746,  0.23591901,  0.38233939,  0.75809889, -0.75195271,
        -1.43748397, -1.49803334,  1.586098  ],
       [ 0.10302903,  0.77466889, -0.05191632,  0.44189432,  1.04132776,
         0.30598301,  0.83989001,  0.80130236]])

In [52]:
y = df['NPI'].values

In [53]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.2, random_state=4)
print ('Train set:', X_train.shape,  y_train.shape)
print ('Test set:', X_test.shape,  y_test.shape)

Train set: (2716, 8) (2716,)
Test set: (680, 8) (680,)

In [54]:
from sklearn.neighbors import KNeighborsClassifier

In [55]:
k = 4#Train Model and Predict  
neigh = KNeighborsClassifier(n_neighbors = k).fit(X_train,y_train)
neigh

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=4, p=2,
           weights='uniform')

In [56]:
yhat = neigh.predict(X_test)
yhat[0:5]

array(['1104991728', '1760556526', '1760556526', '1205901824',
       '1518031368'], dtype=object)

In [57]:
from sklearn import metrics
print("Train set Accuracy: ", metrics.accuracy_score(y_train, neigh.predict(X_train)))
print("Test set Accuracy: ", metrics.accuracy_score(y_test, yhat))

Train set Accuracy:  0.9959499263622975
Test set Accuracy:  0.9808823529411764

In [58]:
input = pd.read_csv("test1.csv", delimiter=",")

In [59]:
input

,NPI,PROVIDERNAME,ENTITY_TYPE_CODE,P_O_N_LEGAL_BUSINESS_NAME,P_F_L_B_M_ADDRESS,PROV_B_M_A_CITY_NAME,PROV_B_M_A_STATE_NAME,PROV_B_M_A_POSTAL_CODE,PROV_B_M_A_CNT_CODE_OUT_US,PROV_B_M_A_TELEPHONE_NUMBER,...,AUTH_OFF_FRST_NAME,AUTH_OFF_MIDDLE_NAME,AUTH_OFF_TITLE_OR_POSITION,AUTH_OFF_TELEPHONE_NUMBER,H_P_T_CODE_1,PROV_LIC_NUM_1,PROV_LIC_NUM_STATE_CODE_1,H_P_P_T_SWITCH_1,PRIMARY_TAXONOMY,SPECDESC
0,NaN,"GUSKY-SHARP, KATHLEEN NONE",1,NaN,105 VISTA VIEW DR,CLOVERDALE,CA,954253373,US,7078947409,...,NaN,NaN,NaN,NaN,171W00000X,CAOT#12,CA,Y,171W00000X,Contractor
1,NaN,"OLANO, ANNA A",1,NaN,100 E IRVING PARK RD,ROSELLE,IL,601722048,US,6304390009,...,NaN,NaN,NaN,NaN,225100000X,070-008093,IL,Y,225100000X,Physical Therapist
2,NaN,"MOSS, PAUL R",1,NaN,1932 SW 3RD ST,ANKENY,IA,500232400,US,5159649114,...,NaN,NaN,NaN,NaN,111N00000X,6709,IA,Y,111N00000X,Chiropractor
3,NaN,"AUSTIN, REINALDO BASILIO",1,NaN,451 CLARKSON AVE,BROOKLYN,NY,112032057,US,7182454600,...,NaN,NaN,NaN,NaN,174400000X,177598,NY,Y,174400000X,Specialist
4,NaN,"CASCADE MEDICAL TESTING LAB, INC.",2,"CASCADE MEDICAL TESTING LAB, INC.",PO BOX 88247,KENTWOOD,MI,495180247,US,6167340335,...,ROBERT,NaN,PRESIDENT,6.169566e+09,291U00000X,NaN,NaN,Y,291U00000X,Clinical Medical Laboratory

In [60]:

X_1 = input[['ENTITY_TYPE_CODE','PROVIDERNAME', 'PROV_B_M_A_STATE_NAME', 'PROV_B_M_A_POSTAL_CODE', 'SPECDESC','PROV_B_P_B_P_LOC_ADD_TEL_NUM','PROV_B_M_A_CITY_NAME','PRIMARY_TAXONOMY']].values
X[0:3]

array([[ 0.10302903, -0.00352539, -0.70329987,  1.48296908, -0.63987268,
         0.6372938 , -1.0021102 , -0.09560694],
       [ 0.10302903,  1.49300208,  0.16521153,  0.64968225,  0.0326075 ,
        -1.0434466 ,  1.69004396, -0.88040258],
       [ 1.75343746,  0.6549467 ,  0.49090331, -0.7203596 ,  0.14468753,
        -1.10775777, -1.14380253, -1.44097089]])

In [61]:
from sklearn import preprocessing

le_PROVIDERNAME = preprocessing.LabelEncoder()
le_PROVIDERNAME.fit(np.unique(df["PROVIDERNAME"]))
X_1[:,1] = le_PROVIDERNAME.transform(X_1[:,1]) 

le_STATE_NAME = preprocessing.LabelEncoder()
le_STATE_NAME.fit(np.unique(df["PROV_B_M_A_STATE_NAME"]))
X_1[:,2] = le_STATE_NAME.transform(X_1[:,2]) 

le_SPECDESC = preprocessing.LabelEncoder()
le_SPECDESC.fit(np.unique(df["SPECDESC"]))
X_1[:,4] = le_SPECDESC.transform(X_1[:,4]) 

le_CITY_NAME = preprocessing.LabelEncoder()
le_CITY_NAME.fit(np.unique(df["PROV_B_M_A_CITY_NAME"]))
X_1[:,6] = le_CITY_NAME.transform(X_1[:,6]) 


le_PRIMARY_TAXONOMY = preprocessing.LabelEncoder()
le_PRIMARY_TAXONOMY.fit(np.unique(df["PRIMARY_TAXONOMY"]))
X_1[:,7] = le_PRIMARY_TAXONOMY.transform(X_1[:,7])

In [62]:
len(X_1)

5

In [63]:
yhat = neigh.predict(X_1)

In [64]:
yhat

array(['1144600479', '1144600479', '1144600479', '1144600479',
       '1144600479'], dtype=object)